
              /*FORMATANDO ESTRUTURAS*/

           body{
            color: #696966;
            line-height: 2;
        }
           
        h1{
            font-family: 'Secular One', cursive;
            font-size: 45px;
        }

        h2, h3, h4, h5, h6{
            color: #787878;
            font-weight: normal;
            margin: 1em 0 1em 0;
        }

        h2{
            font-size: 36px;
        }

        h3{
            font-size: 30px;
        }

        h4{
            font-size: 26px;
        }

        h5{
            font-size: 22px;
        }

        p{
            font-size: 20px;
            margin-top: 2em;
        }

        a{
            transition: color .5s linear;
            text-decoration: none;
            border-bottom: 1px dotted;
            color: #041068;
        }

        .linkMain{
            display: inline-block;
            width: 160px;
            height: 50px;
            padding-top: 25px;
            background-color: white;
            color: #787878;
            border: #787878 2px solid;
            text-align: center;
            transition: all .5s;
        }

        .linkMain:hover{
              color: #49bf9d;
              border-color: #49bf9d;
              background-color: #efefef;
              color: red;
        }

        

            input, label, textarea{
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                
            }

            img{
               max-width: 97%;
                border: 0;
            }

            .linkImg{
                position: relative;
                left: 180px;
            }

         .avatar{
             border-radius: 50%;
         }

            sup, sub{
                font-size: 15px;
            }

             blockquote{
                 border-left: 5px solid #efefef;
                 padding: .5em 0 .5em 1.5em;
                 
             }

             code{
                 background: #f7f7f7;
                 border-radius: .35em;
                 border: 2px solid #efefef;
                 font-size: .9em;
                 padding: .25em 0.65em;
                 font-family: 'Courier New', Courier, monospace;
                 color: #929292;
             }

            b{
              color: rgb(12, 12, 12);
            }

                       /*FORMATANDO O CABEÇALHO*/
   .cabeç{
       position: fixed;
       top: 0;
       left: 0;
       height: 100%;
       width: 35%;
       padding: 120px 54px 73px ;
       box-sizing: border-box;
       background-color:#69696638;
       background-image: url(../fotos/overlay.png), url(../fotos/bg.jpg);
       background-position-x: left top;
       background-size: auto, cover;
   }

   .h1Cabeç{
       font-size: 30px;
       line-height: 1.5;
       color: white;
       font-weight: normal;
       text-align: right;
       color: rgba(255,255,255, .5);
       margin: 0 0 1em 0;
   }

    

       .h1Cabeç strong{
           color: rgb(11, 19, 240);
       }

       



       .linksfe{
           background-color: rgba(255, 255, 255, 0.247);
           color: black;
       }

       .linksfe:hover{
           color: green;
       }

       


       /*IMAGENS*/

       .ladoEsquerdo{
           width: 50%;
           float: left;
       }

       .ladoDireito{
           width: 50%;
           float: right;
       }
       

               /*ESTILIZANDO O GET IN TOUCH*/

               .row{
                   overflow: auto;
               }

               .col2-3{
                   width: 55%;
                   float: left;
               }

               .col1-3{
                   width: 32%;
                   float: right;
                   margin-bottom: 7%;
                   
               }

               .col2{
                   margin-top: 19px;
                   width: 49%;
                   float: left;
               }

               .col2:first-child{
                   margin-right: 1%;
               }

               .col2:last-child{
                margin-right: 1%;
            }

            
                       /*FORMATANDO A PARTE QUE ESTA DENTRO DO MAIN*/
                                .princ{
                                    width: 65%;
                                    margin-left: 35%;
                                    padding: 120px 54px 73px ;
                                    box-sizing: border-box;
                                }


                         /*FORMATANDO AS LISTAS: */

                         .elements1{
                             margin-bottom: 170px;
                         }
                     
                     ul, ol{
                        margin-bottom: 0;
                        padding: 0;
                        padding-left: 1em;
                    }

                    li{
                        padding-left: .5em;
                    }


                    .ulIcon li{
                        list-style-type: none;
                        display: inline-block;
                        font-size: 1.5em;
                        color: rgb(118, 154, 132);
                    }     

                   .linha{
                       overflow: auto;
                       margin-top: 60px;
                   }

                   .coluna2{
                       width: 50%;
                       float: right;
                       position: relative;
                       bottom: 258px;
                   }

                         /*CONFIGURANDO BOTÕES*/


                         .button-default{
                            background-color: #49bf9d;
                            border: 2px solid #49bf9d;
                            color: white;
                            padding: .77em 1.5em;
                            border-radius: 5px;
                            display: inline-block;
                         }

                         .default-strong{
                             background-color: white;
                             border:2px solid #efefef;
                             color: inherit;
                             display: inline-block;
                             margin-left: 100px;
                             transition: all .5s;
                         }

                         .default-strong:hover{
                             color:#49bf9d;
                             border-color:#49bf9d ;
                             
                         }

                         .buttom-small{
                             font-size: 18px;
                             display: inline-block;
                         }

                         .small-strong{
                            font-size: 18px;
                             background-color: white;
                             border:2px solid #efefef;
                             color: inherit;
                             display: inline-block;
                             margin-left: 120px;
                             transition: all .5s;
                         }

                         .small-strong:hover{
                            color:#49bf9d;
                            border-color:#49bf9d ;
                         }

                         .button-fullScreen{
                             font-size: 30px;
                             display: inline-block;
                             width: 230px;
                             height: 20px;
                             padding-left: 150px;
                             padding-bottom: 47px;
                             
                         }

                         .fullScreen{
                             font-size: 30px;
                             background-color: white;
                             border:2px solid #efefef;
                             color: inherit;
                             display: inline-block;
                             width: 230px;
                             height: 20px;
                             padding-left: 150px;
                             padding-bottom: 47px;
                             margin-left: 35px;
                             transition: all .5s;
                         }

                         .fullScreen:hover{
                             border-color:#49bf9d ;
                             color: #49bf9d;
                         }
                         

                              /*Formatação das Tabelas*/


                              .tab{
                                  width: 100%;
                                  margin: 0 0 2em 0;
                                  border-collapse:collapse;
                                  text-align: left;  
                              }

                              .tab td{
                                  padding: .75em;
                              }

                              .tab tbody tr:first-child td{
                                  border-top: 2px solid #665;
                              }

                              .tab tbody tr:last-child td{
                                border-bottom: 2px solid #665;
                            }

                            .tab tbody tr td{
                                border-bottom: 1px solid #667 ;
                            }

                            .tab tbody tr:nth-child(even) td{
                                background-color: rgb(185, 183, 188);
                            }

                            .tabela2 tbody td{
                                border: 1px solid rgb(1, 1, 16);
                            }


                   /*AJUSTANDO O FORMULÁRIO*/
                   
                   input[type="radio"]{
                    width: auto;
                   }

                   .campoNome{
                       width: 60%;
                       position: relative;
                       bottom: 34px;
                       left: 127px;
                   }

                   .campoEmail{
                    width: 60%;
                    position: relative;
                    bottom: 34px;
                    left: 127px;
                   }

                   select{
                       width: 100%;
                       height: 40px;
                   }


                             /*AJUSTANDO GALERIA DE IMAGENS*/

                            .fotosDaGaleria img{
                                border-radius: 15px;
                            }

                             .imgPrinc{
                                width: 100%;
                                margin-bottom: 20px;
                             }

                             .direito{
                                width: 30%;
                                margin-right: 20px;
                                margin-bottom: 20px;
                             }

                             .centro{
                                 width: 30%;
                                margin-left: 10px;
                                margin-bottom: 20px;
                                 
                                }

                             .esquerdo{
                                 width: 30%;
                                 float: right;
                                 margin-right: 30px;
                                 margin-bottom: 20px;
                             }

                     /*Direita e Esquerda*/

                     .right{
                         float: left;
                     }

                     .left{
                         float: right;
                     }

                                   /*PERSONALIZANDO O FOOTER */


                                   
                                   footer{
                                       position: fixed;
                                       bottom: 100px;
                                       width: 35%;
                                       left: 260px;
                                   }

                                   .linkFooter{
                                       color: #49bf9d;
                                       list-style-type: none;
                                   }
