

header{
    background-color: rgb(167, 247, 63);
    height: 50px;
    width: 97%;
    margin: 0 0px 15px 20px;
}



h2{
    color: rgb(231, 14, 94);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}